<router-outlet>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
                <h3>Departure date</h3>
                <input class="form-control" placeholder="Datepicker" ngModel bsDatepicker [minDate]="minDate1"
                    [maxDate]="maxDate1" [(ngModel)]="departureDate" (ngModelChange)="departure($event)" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY',
                    containerClass: 'theme-green',displayMonths:2 , showWeekNumbers:false}">
            </div>
            <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
                <h3>Return date</h3>
                <input class="form-control" placeholder="Daterangepicker" ngModel bsDatepicker [minDate]="minDate2"
                    [maxDate]="maxDate2" (ngModelChange)="departure2($event)" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY',
                    containerClass: 'theme-green',displayMonths:2 , showWeekNumbers:false}">
            </div>
            <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
                <h3>Confirm Return date</h3>
                <input class="form-control" placeholder="Daterangepicker" ngModel bsDatepicker [minDate]="minDate3"
                    [maxDate]="maxDate3" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY',
                    containerClass: 'theme-green',displayMonths:2 , showWeekNumbers:false}">
            </div>
        </div>

    </div>
    <button routerLink="posts">Posts</button>
    <br><br>
    <button routerLink="products">Product</button>
    <br><br>
    <!-- <button routerLink="king">king</button> -->
    <br><br>
    <button (click)="settimeout()">Set time out</button>
    <br><br>
    <button (click)="setinterval()">Set interval</button>
    <h2 id="demo"></h2>
    <br><br>
    <button (click)="settimeout()">Set time out</button>
    <br><br>
    <button (click)="setinterval()">Set interval</button>
    <h2 id="demo"></h2>
</router-outlet>